#tabSelect ul {
    display:inline;
    list-style-type:none;
    padding:0px;
    margin:0px;
}
 
#tabSelect ul li{
    display:inline;
    padding-left:20px;
}

#nav .welcome {
    color:#993;
    margin-right:20px;
    text-align:left;
	font-weight: bold;
    font-size:100%;
    text-align:left;
    display:inline;
    font-family: Verdana, Arial, sans-serif;
}

#nav {
    padding:10px 0px 10px 0px;
    width:100%;
    text-align:center;
    position:fixed;
    -webkit-border-bottom-right-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -moz-border-radius-bottomright: 20px;
    -moz-border-radius-bottomleft: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color:#111;
    border-bottom:1px solid #888;
    color:#fff;
}

#nav a {
    text-decoration:none;
    padding:5px;
    color:#eee;
}

#nav a:visited {
    text-decoration:none;
    padding:5px;
    color:#eee;
}

#nav a:hover {
    color:#222;
    background:#AAA;
    padding:5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -khtml-border-radius: 5px;
}   