#tabSelect {
    margin-bottom:10px;
}
#tabSelect ul {
    display:inline;
    list-style-type:none;
    padding:0px;
    margin:0px;
}
 
#tabSelect ul li{
    display:inline;
    padding-left:20px;
}

#tabSelect a.selected {
    text-decoration:none;
    padding:5px;
    background:#222;
    color:#FFF;
}